APP_NAME= Your app name here
APP_ENV=local
APP_KEY=your app key here
APP_DEBUG=true
APP_URL= base url of your app here

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

TELESCOPE_ENABLED=false

FILAMENT_MFA_ENABLED=true
FILAMENT_MFA_REQUIRED=false

LOG_CHANNEL=nightwatch
NIGHTWATCH_TOKEN= your nightwatch token here
NIGHTWATCH_ENABLED=true
NIGHTWATCH_REQUEST_SAMPLE_RATE=0.1
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# connection for aiven mysql database cloud hosting service
DB_CONNECTION=mysql
DB_HOST= database host here
DB_PORT= database port here
DB_DATABASE= database name here
DB_USERNAME= database username here
DB_PASSWORD= database password here


SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=s3
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST= your redis host here
REDIS_PASSWORD= your redis password here
REDIS_PORT=10501
REDIS_DB=0
REDIS_CACHE_DB=0
REDIS_USERNAME=devhub

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME= your email here
MAIL_PASSWORD= your email password here
MAIL_FROM_ADDRESS= your email here
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID= your aws access key id here
AWS_SECRET_ACCESS_KEY= your aws secret access key here
AWS_DEFAULT_REGION= your aws default region here
AWS_BUCKET= your aws bucket name here
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=null
AWS_ENDPOINT=null

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET= your jwt secret here

#SOCIALITE CONFIG (google, facebook, twitter, linkedin) ...
GOOGLE_CLIENT_ID= your google client id here
GOOGLE_CLIENT_SECRET= your google client secret here
GOOGLE_REDIRECT_URL=base_url/api/v1/auth/google/callback

#GITHUB CONFIG
GITHUB_CLIENT_ID= your github client id here
GITHUB_CLIENT_SECRET= your github client secret here
GITHUB_REDIRECT_URL=base_url/api/v1/auth/github/callback


#Google KEYS
GEMINI_API_KEY= your google gemini api key here

#LLAMA KEYS
LLAMA_KEY= your llama api key here
LLAMA_API_URL=https://llama-3-2-3b1.p.rapidapi.com
LLAMA_API_HOST=llama-3-2-3b1.p.rapidapi.com

SUMMARIZE_KEY= your summarize api key here
SUMMARIZE_HOST=article-extractor-and-summarizer.p.rapidapi.com

#HackClub API
HACKAI_API_KEY= your hackclub api key here
HACKAI_BASE_URL= https://api.hackclub.com/v1
HACKAI_EMBEDDINGS_MODEL=openai/text-embedding-3-large

#ADMINS MAILS
ADMIN_EMAIL1=9gwbk.admin@inbox.testmail.app
ADMIN_EMAIL2=9gwbk.admin@inbox.testmail.app

# CLOUDINARYY Storage Configuration
CLOUDINARY_URL= cloudinary_url_here
CLOUDINARY_UPLOAD_PRESET=your_upload_preset
CLOUDINARY_NOTIFICATION_URL=
CLOUDINARY_KEY= key here
CLOUDINARY_SECRET= secret here
CLOUDINARY_CLOUD_NAME= cloud name here

#Piston API code execution configuration
PISTON_API_URL=https://emkc.org/api/v2/piston
PISTON_API_KEY= your piston api key here


# PUSHER CONFIG CHANNELS
BROADCAST_DRIVER= pusher
PUSHER_APP_ID= id here
PUSHER_APP_KEY= key here
PUSHER_APP_SECRET= secret here
PUSHER_APP_CLUSTER=mt1
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https


#testmail config
TESTMAIL_API_KEY= your testmail api key here
TESTMAIL_NAMESPACE_ID= your testmail namespace id here
TESTMAIL_BASE_URL=https://api.testmail.app/api/json

#OneSignal Configuration
ONESIGNAL_REST_API_URL=https://api.onesignal.com
ONESIGNAL_APP_ID= your onesignal app id here
ONESIGNAL_REST_API_KEY= your onesignal rest api key here
USER_AUTH_KEY= your user auth key here

# ALGOLIA CONFIG
SCOUT_DRIVER=algolia
ALGOLIA_APP_ID= your algolia app id here
ALGOLIA_SECRET= your algolia secret here
ALGOLIA_SEARCH= your algolia search key here

FRONTEND_URL= base url of your frontend app here


HACKCLUB_API_CDN= key here
HACKCLUB_CDN_BASE_URL=https://cdn.hackclub.com/api/v4


