commands:
  01_create_storage_dirs:
    command: "mkdir -p storage/framework/{cache,sessions,views} storage/logs bootstrap/cache"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

container_commands:
  01_fix_permissions:
    command: |
      chmod -R 775 storage bootstrap/cache
      chown -R webapp:webapp storage bootstrap/cache
